﻿@{
    ViewData["Title"] = "About";
}
<h2>Biddinglist</h2>
<h3>For auctioneer use</h3>

<div class="row" ng-app="bacchusApp" ng-controller="BiddinglistController">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Fullname</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tr ng-repeat="bid in bids">
            <td>{{bid.productId}}</td>
            <td>{{bid.fullname}}</td>
            <td>{{bid.amount}}</td>
        </tr>
    </table>
</div>
