﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 20px">
    <h2>Auction</h2>
</div>
<div class="row" ng-app="bacchusApp" ng-controller="ProductsController">
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" style="width:200px;" ng-change="update()" ng-model="selectedCategory">
            <option>All</option>
            <option ng-repeat="category in categories">{{category.productCategory}}</option>
        </select>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Product description</th>
                    <th>Bidding ends</th>
                    <th>Time left</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="product in products">
                <td>{{product.productName}}</td>
                <td>{{product.productDescription}}</td>
                <td>{{product.biddingEndDate}}</td>
                <td>{{product.timeLeft | secondsToMmSs}}</td>
                <td><input type="number" class="form-control" ng-model="product.amount"/></td>
                <td><button class="btn btn-primary" role="button" ng-click="bid_button(product)">Bid</button></td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <label>Full name</label>
        <input class="form-control" placeholder="Full name" ng-model="newbid.fullname"/>
    </div>

</div>


